<mat-card class="section-container">
    <mat-card-content>
        <div gdColumns="max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content"
                gdGap="1em">
            <div class="mat-caption">ID</div>
            <div class="mat-caption">Packet sequence</div>
            <div class="mat-caption" style="text-align: center;">Start/Finish 1<br>(1/100s)</div>
            <div class="mat-caption" style="text-align: center;">Pitlane 1<br>(1/100s)</div>
            <div class="mat-caption" style="text-align: center;">S/F-Pitlane interval 1<br>(1/100s)</div>
            <div class="mat-caption" style="text-align: center;">Start/Finish 2<br>(1/100s)</div>
            <div class="mat-caption" style="text-align: center;">Pitlane 2<br>(1/100s)</div>
            <div class="mat-caption" style="text-align: center;">S/F-Pitlane interval 2<br>(1/100s)</div>
            <div class="mat-caption" style="text-align: center;">Laptime<br>(1/100s)</div>
            <div class="mat-caption" style="text-align: center;">Measured refresh rate<br>(ms)</div>

            <ng-container *ngFor="let slot of dto">
                <div style="justify-self: center;">{{slot.carId}}</div>
                <div style="justify-self: right;">{{slot.packetSequence}}</div>
                <div style="justify-self: right;">{{slot.timestampStartFinish1}}</div>
                <div style="justify-self: right;">{{slot.timestampPitlane1}}</div>
                <div style="justify-self: right;">{{slot.timestampStartFinishPitlaneInterval1}}</div>
                <div style="justify-self: right;">{{slot.timestampStartFinish2}}</div>
                <div style="justify-self: right;">{{slot.timestampPitlane2}}</div>
                <div style="justify-self: right;">{{slot.timestampStartFinishPitlaneInterval2}}</div>
                <div style="justify-self: right;">{{slot.laptime}}</div>
                <div style="justify-self: right;">{{slot.refreshRate}}</div>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>