<mat-card class="section-container">
    <mat-card-content>
        <div style="margin-bottom: 1em">
            <div class="mat-caption">Manufacturer name</div>
            <div>{{dto.manufacturerName}}</div>
        </div>

        <div style="margin-bottom: 1em;">
            <div class="mat-caption">Model number</div>
            <div>{{dto.modelNumber}}</div>
        </div>

        <div style="margin-bottom: 1em">
            <div class="mat-caption">Hardware revision</div>
            <div>{{dto.hardwareRevision}}</div>
        </div>

        <div style="margin-bottom: 1em">
            <div class="mat-caption">Firmware revision</div>
            <div>{{dto.firmwareRevision}}</div>
        </div>

        <div>
            <div class="mat-caption">Software revision</div>
            <div>{{dto.softwareRevision}}</div>
        </div>
    </mat-card-content>
</mat-card>