<mat-card class="section-container">
    <mat-card-content>
        <div *ngIf="dto.bluetoothConnectionState === 'Disabled'"><mat-icon>bluetooth_disabled</mat-icon>Bluetooth disabled or not used</div>
        <div *ngIf="dto.bluetoothConnectionState === 'Enabled'"><mat-icon>bluetooth</mat-icon>Bluetooth enabled</div>
        <div *ngIf="dto.bluetoothConnectionState === 'Discovering'"><mat-icon>bluetooth_searching</mat-icon>Searching for a Scalextric ARC device...</div>
        <div *ngIf="dto.bluetoothConnectionState === 'Connected'"><mat-icon>bluetooth_connected</mat-icon>Connected to Scalextric ARC device, retrieving information from the device...</div>
        <div *ngIf="dto.bluetoothConnectionState === 'Initialized'"><mat-icon>bluetooth_drive</mat-icon>Connection to a Scalextric ARC device is fully initialized</div>

        <mat-slide-toggle [(ngModel)]="dto.connect" [ngModelOptions]="{standalone: true}" (change)="change()">Connect</mat-slide-toggle>
    </mat-card-content>
</mat-card>