<mat-card *ngIf="!!dto" class="section-container">
    <mat-card-content>
        <div gdColumns="max-content max-content 1fr max-content max-content max-content 1fr max-content 1fr max-content"
                gdGap="1em" style="align-items: center;" >                     
            <div class="mat-caption">ID</div>
            <div class="mat-caption" style="grid-column-start: 2; grid-column-end: 4;">Power multiplier</div>
            <div class="mat-caption">"Bit 6"</div>
            <div class="mat-caption">Ghost</div>
            <div class="mat-caption" style="grid-column-start: 6; grid-column-end: 8;">Rumble</div>
            <div class="mat-caption" style="grid-column-start: 8; grid-column-end: 10;">Brake</div>
            <div class="mat-caption">KERS</div>

            <div class="mat-caption" style="justify-self: center;">1</div>
            <div>{{dto.powerMultiplier1}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.powerBitSix1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble1}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.rumble1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake1}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.brake1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">2</div>
            <div>{{dto.powerMultiplier2}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.powerBitSix2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble2}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.rumble2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake2}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.brake2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">3</div>
            <div>{{dto.powerMultiplier3}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.powerBitSix3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble3}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.rumble3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake3}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.brake3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">4</div>
            <div>{{dto.powerMultiplier4}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.powerBitSix4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble4}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.rumble4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake4}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.brake4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">5</div>
            <div>{{dto.powerMultiplier5}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.powerBitSix5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble5}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.rumble5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake5}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.brake5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">6</div>
            <div>{{dto.powerMultiplier6}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.powerBitSix6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble6}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.rumble6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake6}}</div>
            <div><mat-slider thumbLabel min="0" max="255" [(ngModel)]="dto.brake6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
        </div>

        <mat-radio-group [(ngModel)]="dto.command" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()">
            <table style="border-spacing: 0; margin-top: 2em;">
                <tr>
                    <td class="command-column-odd  command-column-first mat-caption">Command</td>
                    <th class="command-column-even                      mat-caption" colspan="2">ARC ONE</th>
                    <th class="command-column-odd                       mat-caption" colspan="2">ARC AIR</th>
                    <th class="command-column-even                      mat-caption" colspan="2">ARC PRO Analog</th>
                    <th class="command-column-odd                       mat-caption" colspan="2">ARC PRO Digital</th>       
                </tr>
                <tr>
                    <td class="command-column-odd"></td>
                    <td class="command-column-even command-column-first  mat-caption">Power</td>
                    <td class="command-column-even command-column-second mat-caption">Timer</td>
                    <td class="command-column-odd  command-column-first  mat-caption">Power</td>
                    <td class="command-column-odd  command-column-second mat-caption">Timer</td>
                    <td class="command-column-even command-column-first  mat-caption">Power</td>
                    <td class="command-column-even command-column-second mat-caption">Timer</td>
                    <td class="command-column-odd  command-column-first  mat-caption">Power</td>
                    <td class="command-column-odd  command-column-second mat-caption">Timer</td>
                </tr>
                <tr>
                    <td class="command-column-odd  command-column-first" ><mat-radio-button value="NoPowerTimerStopped">NoPowerTimerStopped</mat-radio-button></td>
                    <td class="command-column-even command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><div fxLayout="row" fxLayoutAlign="center center"><mat-icon>timer_off</mat-icon>Reset</div></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_off</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><div fxLayout="row" fxLayoutAlign="center center"><mat-icon>timer_off</mat-icon>Reset</div></td>
                    <td class="command-column-even command-column-first" >Last throttle value locked</td>
                    <td class="command-column-even command-column-second"><div fxLayout="row" fxLayoutAlign="center center"><mat-icon>timer_off</mat-icon>Reset</div></td>
                    <td class="command-column-odd  command-column-first" >Last throttle value locked</td>
                    <td class="command-column-odd  command-column-second"><div fxLayout="row" fxLayoutAlign="center center"><mat-icon>timer_off</mat-icon>Reset</div></td>
                </tr>
                <tr>
                    <td class="command-column-odd  command-column-first" ><mat-radio-button value="NoPowerTimerTicking">NoPowerTimerTicking</mat-radio-button></td>
                    <td class="command-column-even command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><div fxLayout="row" fxLayoutAlign="center center"><mat-icon>timer_off</mat-icon>Reset</div></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><div fxLayout="row" fxLayoutAlign="center center"><mat-icon>timer_off</mat-icon>Reset</div></td>
                    <td class="command-column-even command-column-first"><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><div fxLayout="row" fxLayoutAlign="center center"><mat-icon>timer_off</mat-icon>Reset</div></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><div fxLayout="row" fxLayoutAlign="center center"><mat-icon>timer_off</mat-icon>Reset</div></td>
                </tr>
                <tr>
                    <td class="command-column-odd  command-column-first" ><mat-radio-button value="PowerOnRaceTrigger" style="justify-self: self-start;">PowerOnRaceTrigger</mat-radio-button></td>
                    <td class="command-column-even command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><mat-icon>timer_off</mat-icon></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><mat-icon>timer_off</mat-icon></td>
                    <td class="command-column-even command-column-first"><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><mat-icon>timer_off</mat-icon></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><mat-icon>timer_off</mat-icon></td>
                </tr>
                <tr>
                    <td class="command-column-odd  command-column-first" ><mat-radio-button value="PowerOnRacing">PowerOnRacing</mat-radio-button></td>
                    <td class="command-column-even command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><mat-icon>timer_on</mat-icon></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><mat-icon>timer_on</mat-icon></td>
                    <td class="command-column-even command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><mat-icon>timer_on</mat-icon></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><mat-icon>timer_on</mat-icon></td>
                </tr>
                <tr>
                    <td class="command-column-odd  command-column-first"><mat-radio-button value="PowerOnTimerHalt">PowerOnTimerHalt</mat-radio-button></td>
                    <td class="command-column-even command-column-first"><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><mat-icon>timer_off</mat-icon></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_off</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><mat-icon>timer_off</mat-icon></td>
                    <td class="command-column-even command-column-first" >Last throttle value locked</td>
                    <td class="command-column-even command-column-second"><mat-icon>timer_off</mat-icon></td>
                    <td class="command-column-odd  command-column-first" >Last throttle value locked</td>
                    <td class="command-column-odd  command-column-second"><mat-icon>timer_off</mat-icon></td>
                </tr>
                <tr>
                    <td class="command-column-odd  command-column-first"><mat-radio-button value="NoPowerRebootPic18">NoPowerRebootPic18</mat-radio-button></td>
                    <td class="command-column-even command-column-first"><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><mat-icon>timer_on</mat-icon></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><mat-icon>timer_on</mat-icon></td>
                    <td class="command-column-even command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-even command-column-second"><mat-icon>timer_on</mat-icon></td>
                    <td class="command-column-odd  command-column-first" ><mat-icon>power_on</mat-icon></td>
                    <td class="command-column-odd  command-column-second"><mat-icon>timer_on</mat-icon></td>
                </tr>
            </table>    
        </mat-radio-group>

        <button mat-raised-button color="primary" style="margin-top: 2em;" [disabled]="!dirty" (click)="write()">
            WRITE
        </button>
    </mat-card-content>
</mat-card>