<mat-card *ngIf="!!dto" class="section-container">
    <mat-card-content>
        <div gdColumns="max-content max-content 1fr max-content max-content 1fr max-content 1fr max-content"
                gdGap="1em" style="align-items: center;" >                     
            <div class="mat-caption">ID</div>
            <div class="mat-caption" style="grid-column-start: 2; grid-column-end: 4;">Power multiplier</div>
            <div class="mat-caption">Ghost</div>
            <div class="mat-caption" style="grid-column-start: 5; grid-column-end: 7;">Rumble</div>
            <div class="mat-caption" style="grid-column-start: 7; grid-column-end: 9;">Brake</div>
            <div class="mat-caption">KERS</div>

            <div class="mat-caption" style="justify-self: center;">1</div>
            <div>{{dto.powerMultiplier1}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble1}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.rumble1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake1}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.brake1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers1" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">2</div>
            <div>{{dto.powerMultiplier2}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble2}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.rumble2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake2}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.brake2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers2" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">3</div>
            <div>{{dto.powerMultiplier3}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble3}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.rumble3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake3}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.brake3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers3" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">4</div>
            <div>{{dto.powerMultiplier4}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble4}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.rumble4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake4}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.brake4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers4" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">5</div>
            <div>{{dto.powerMultiplier5}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble5}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.rumble5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake5}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.brake5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers5" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>

            <div class="mat-caption" style="justify-self: center;">6</div>
            <div>{{dto.powerMultiplier6}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.powerMultiplier6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.ghost6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
            <div>{{dto.rumble6}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.rumble6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div>{{dto.brake6}}</div>
            <div><mat-slider thumbLabel min="0" max="63" [(ngModel)]="dto.brake6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()" class="command-slider" style="height: 1em;"></mat-slider></div>
            <div style="justify-self: center;"><mat-checkbox [(ngModel)]="dto.kers6" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"></mat-checkbox></div>
        </div>

        <mat-radio-group [(ngModel)]="dto.command" [ngModelOptions]="{standalone: true}" (change)="dirtyChanged()"
                gdColumns="max-content max-content max-content max-content max-content max-content max-content max-content max-content" gdGap="1em" style="justify-items: center; margin-top: 2em;">
            <div class="mat-caption" style="justify-self: self-start;">Command</div>
            <div class="mat-caption" style="grid-column-start: 2; grid-column-end: 4;">ARC One</div>
            <div class="mat-caption" style="grid-column-start: 4; grid-column-end: 6;">ARC Air</div>
            <div class="mat-caption" style="grid-column-start: 6; grid-column-end: 8;">ARC Pro Analog</div>
            <div class="mat-caption" style="grid-column-start: 8; grid-column-end: 10;">ARC Pro Digital</div>

            <div></div>
            <div class="mat-caption">Power</div>
            <div class="mat-caption">Timer</div>
            <div class="mat-caption">Power</div>
            <div class="mat-caption">Timer</div>
            <div class="mat-caption">Power</div>
            <div class="mat-caption">Timer</div>
            <div class="mat-caption">Power</div>
            <div class="mat-caption">Timer</div>

            <mat-radio-button value="NoPowerTimerStopped" style="justify-self: self-start;">NoPowerTimerStopped</mat-radio-button>
            <mat-icon>power_on</mat-icon>
            <div><mat-icon>timer_off</mat-icon>Reset</div>
            <mat-icon>power_off</mat-icon>
            <div><mat-icon>timer_off</mat-icon>Reset</div>
            <div>Last throttle value locked</div>
            <div><mat-icon>timer_off</mat-icon>Reset</div>
            <div>Last throttle value locked</div>
            <div><mat-icon>timer_off</mat-icon>Reset</div>

            <mat-radio-button value="NoPowerTimerTicking" style="justify-self: self-start;">NoPowerTimerTicking</mat-radio-button>
            <mat-icon>power_on</mat-icon>
            <div><mat-icon>timer_off</mat-icon>Reset</div>
            <mat-icon>power_on</mat-icon>
            <div><mat-icon>timer_off</mat-icon>Reset</div>
            <mat-icon>power_on</mat-icon>
            <div><mat-icon>timer_off</mat-icon>Reset</div>
            <mat-icon>power_on</mat-icon>
            <div><mat-icon>timer_off</mat-icon>Reset</div>

            <mat-radio-button value="PowerOnRaceTrigger" style="justify-self: self-start;">PowerOnRaceTrigger</mat-radio-button>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_off</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_off</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_off</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_off</mat-icon>

            <mat-radio-button value="PowerOnRacing" style="justify-self: self-start;">PowerOnRacing</mat-radio-button>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_on</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_on</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_on</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_on</mat-icon>

            <mat-radio-button value="PowerOnTimerHalt" style="justify-self: self-start;">PowerOnTimerHalt</mat-radio-button>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_off</mat-icon>
            <mat-icon>power_off</mat-icon>
            <mat-icon>timer_off</mat-icon>
            <div>Last throttle value locked</div>
            <mat-icon>timer_off</mat-icon>
            <div>Last throttle value locked</div>
            <mat-icon>timer_off</mat-icon>

            <mat-radio-button value="NoPowerRebootPic18" style="justify-self: self-start;">NoPowerRebootPic18</mat-radio-button>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_on</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_on</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_on</mat-icon>
            <mat-icon>power_on</mat-icon>
            <mat-icon>timer_on</mat-icon>
        </mat-radio-group>

        <button mat-raised-button color="primary" style="margin-top: 2em;" [disabled]="!dirty" (click)="write()">
            WRITE
        </button>
    </mat-card-content>
</mat-card>