<mat-sidenav-container>
    <mat-sidenav
        [mode]="sidenavMode"
        [(opened)]="sidenavOpened">
        <div fxLayout="column">
            <mat-toolbar color="accent">
                <mat-toolbar-row>
                    <a href="/" class="sidenav-toolbar-logo">Scalextric ARC BLE Explorer</a>
                </mat-toolbar-row>
            </mat-toolbar>
   
            <mat-nav-list>
                <mat-list-item (click)="navigate(['/device'])">
                    Device information
                </mat-list-item>
                <mat-list-item (click)="navigate(['/command'])">
                    Command
                </mat-list-item>
                <mat-list-item (click)="navigate(['/slot'])">
                    Slot
                </mat-list-item>
                <mat-list-item (click)="navigate(['/throttle'])">
                    Throttle
                </mat-list-item>
                <mat-list-item disabled="true" style="color: lightgray; background-color: unset;"   (click)="navigate(['/throttle-profile'])">
                    Throttle profiles
                </mat-list-item>
                <mat-list-item (click)="navigate(['/system'])">
                    System information
                </mat-list-item>
                <mat-list-item *ngIf="!!connection && connection.state === 'Initialized'" (click)="navigate(['/log'])">
                    System log
                </mat-list-item>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-spinner *ngIf="busy"></mat-spinner>
        <div class="view-container">
            <mat-toolbar class="mat-elevation-z4" color="primary">
                <mat-toolbar-row gdColumns="1fr max-content max-content max-content" gdGap="1em">
                    <div>
                        <button *ngIf="menuShow" mat-icon-button type="button" (click)="menuToggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                        {{toolbarService.header}}   
                    </div>

                    <div>
                        <mat-icon *ngIf="!!connection && connection.state === 'Initialized' && !!commandService.dto && (commandService.dto.command === 'NoPowerTimerStopped' || commandService.dto.command === 'PowerOnRaceTrigger' || commandService.dto.command === 'NoPowerRebootPic18')">timer_off</mat-icon>
                        <mat-icon *ngIf="!!connection && connection.state === 'Initialized' && !!commandService.dto && (commandService.dto.command === 'NoPowerTimerTicking' || commandService.dto.command === 'PowerOnRacing' || commandService.dto.command === 'PowerOnTimerHalt')">timer</mat-icon>    
                    </div>

                    <div>
                        <mat-icon *ngIf="!!connection && connection.state === 'Initialized' && !!commandService.dto && (commandService.dto.command === 'NoPowerTimerStopped' || commandService.dto.command === 'NoPowerTimerTicking' || commandService.dto.command === 'NoPowerRebootPic18')">power_off</mat-icon>
                        <mat-icon *ngIf="!!connection && connection.state === 'Initialized' && !!commandService.dto && (commandService.dto.command === 'PowerOnRaceTrigger' || commandService.dto.command === 'PowerOnRacing' || commandService.dto.command === 'PowerOnTimerHalt')">power</mat-icon>   
                    </div>

                    <div>
                        <mat-icon *ngIf="!!connection && connection.state === 'Disabled'">bluetooth_disabled</mat-icon>
                        <mat-icon *ngIf="!!connection && connection.state === 'Enabled'">bluetooth</mat-icon>
                        <mat-icon *ngIf="!!connection && connection.state === 'Discovering'">bluetooth_searching</mat-icon>
                        <mat-icon *ngIf="!!connection && connection.state === 'Connected'">bluetooth_connected</mat-icon>
                        <mat-icon *ngIf="!!connection && connection.state === 'Initialized'">bluetooth_drive</mat-icon>    
                    </div>
                </mat-toolbar-row>   
            </mat-toolbar>
            <router-outlet></router-outlet>
        </div>      
    </mat-sidenav-content>
</mat-sidenav-container>