<mat-card class="section-container" style="overflow: auto;" >
    <mat-card-content>
        <div style="margin-bottom: 1em">
            <div class="mat-caption">Model</div>
            <div>{{dto.hardwareModel}}</div>
        </div>

        <div style="margin-bottom: 1em;">
            <div class="mat-caption">Operating system version</div>
            <div>{{dto.softwareOsVersion}}</div>
        </div>

        <div style="margin-bottom: 1em">
            <div class="mat-caption">Snap version</div>
            <div>{{dto.softwareSnapVersion}}</div>
        </div>

        <div style="margin-bottom: 1em">
            <div class="mat-caption">IP address(es)</div>
            <div>{{dto.networkIpAddresses}}</div>
        </div>
    </mat-card-content>
</mat-card>